@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

body,
html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}

body {
    overflow: hidden;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
        opacity: 0.2;
    }
    100% {
        transform: scale(1);
    }
}

.loading-container {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .square-wrapper {
        width: 160px;
        height: 20px;
        display: flex;
        margin: 20px;
        justify-content: space-around;
    }

    .square,
    .square2,
    .square3,
    .square4 {
        width: 20px !important;
        height: 20px !important;
        border-radius: 50%;
    }
    .square {
        animation: scale 2000ms infinite ease;
        background-color: rgb(48, 48, 48);
    }
    .square2 {
        animation: scale 2000ms infinite ease;
        animation-delay: 200ms;
        background: #83f54b;
    }
    .square3 {
        animation: scale 2000ms infinite ease;
        animation-delay: 400ms;
        background-color: #679bf1;
    }
    .square4 {
        animation: scale 2000ms infinite ease;
        animation-delay: 600ms;
        background-color: #fb844c;
    }

    p {
        padding: 2vh 0;
        color: rgb(127, 127, 127);
        opacity: 0.5;
    }
}

.burger {
    fill: $black;
    stroke: #ffffff;
    stroke-width: 5.6693;
    stroke-linecap: round;
    stroke-miterlimit: 10;

    &:hover {
        fill: $highlighter;
        stroke: $highlighter;
    }
}

nav {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% !important;
    z-index: 88;

    overflow: hidden;

    #logo {
        width: 45%;
    }

    #burger-menu {
        width: 10%;
        z-index: 100;
    }

    #burger-menu:hover {
        cursor: pointer;
    }
}

.hero-container {
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: $black;
    position: relative;
    width: 100%;
    overflow-x: hidden;

    #hero-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        color: $white;
        text-align: left;
        padding: 2% 10%;

        h2 {
            font-size: 2rem;
            width: 70%;
            z-index: 2;
        }

        p {
            width: 70%;
            color: $grey;
            padding: 10% 0;
            z-index: 3;
            margin: 10% 0;
        }

        button {
            margin-top: 20px;
            background-color: $highlighter;
            border-style: none;
            color: $white;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 30px;
            width: fit-content;
            padding: 2% 5%;
            z-index: 50;
        }

        button:hover {
            cursor: pointer;
        }
    }
    
    #hero-img {
        position: absolute;
        display: none;
        bottom: 0;
        right: 0;
        max-height: 100%;
        max-width: 90%;
        transition: all 2s ease;
    }

    .top-social-media {
        position: absolute;
        bottom: 5%;
        left: 7%;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        width: 50vh;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;

        .top-social-media-link {
            height: 10% !important;
            background-color: $white;
            width: 95% !important;
            border-radius: 10px;
            margin-right: 5% !important;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            transform: rotate(90deg);
            margin: 0 1%;
            cursor: pointer;
            padding: 2px;
            border-radius: 50%;
        }

        img:hover {
            background-color: #ea6c41;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 7%;
        right: 5%;
        transform-origin: bottom right;
        transform: rotate(90deg);
        width: 50vh;
        height: 6%;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        color: #fcfcfc;
        justify-content: center;
        align-items: center;
        display: none;
        text-align: center;

        .scroll-down-line {
            height: 10% !important;
            background-color: $white;
            width: 80% !important;
            border-radius: 10px;
            margin-left: 5%;
        }
        p {
            text-align: center;
            opacity: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        div {
            height: 100% !important;
            width: 100% !important;

            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                background-color: $black;
                height: 20px !important;
                width: 20px !important;
                border-radius: 50%;
                border: 3px solid $white;
                cursor: pointer;
            }

            div:hover {
                background-color: $highlighter;
            }
        }
    }
}

#menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 89;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .links {
        width: 60%;
        height: 60%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: scale 2s;

        a {
            text-decoration: none;
            color: $white;
            font-size: 2rem;
            line-height: 4rem;
            height: 100%;
            width: 100%;
            text-align: center;
            transition: transform 2s;
        }

        a::after {
            text-align: center;
            display: block;
            margin: auto;
            content: "";
            color: $highlighter;
            width: 0%;
            height: 0.3vh;
            transition: width 2s;
        }
    }

    a:hover {
        color: $highlighter;
        transform: scale(1.2);
    }
    a:visited {
        background-color: $white;
    }

    a:hover::after {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {
    nav {
        #logo {
            width: 30%;
        }

        #burger-menu {
            width: 8%;
        }
    }

    .hero-container {
        flex-direction: column;

        #hero-text {
            h2 {
                width: 70%;
            }

            p {
                width: 50%;
                padding: 8% 0;
                margin: 2% 0;
            }
        }

        #hero-img {
            max-height: 80%;
            max-width: 80%;
            transition: all 2s;
        }
    }
}

@media screen and (min-width: 768px) {
    .top-social-media {
        display: flex !important;
    }

    .scroll-down {
        display: grid !important;
    }

    nav {
        #logo {
            width: 25%;
        }

        #burger-menu {
            width: 5%;
        }
        button {
            padding: 1% 2%;
        }
    }

    .hero-container {
        #hero-text {
            h2 {
                font-size: 3.5rem;
                width: 70%;
            }

            p {
                width: 40%;
                padding: 8% 0;
            }

            button {
                padding: 1% 2%;
            }
        }

        #hero-img {
            max-height: 80%;
            max-width: 80%;
        }
    }
}

@media screen and (min-width: 900px) {
    nav {
        #logo {
            width: 20%;
        }

        #burger-menu {
            width: 4%;
        }
    }

    .hero-container {
        #hero-text {
            h2 {
                font-size: 4rem;
                width: 60;
            }

            p {
                width: 30%;
                padding: 5% 0;
                line-height: 1.6em;
            }
            button {
                margin-top: 0px;
            }
        }

        #hero-img {
            right: 5%;
            max-height: 80%;
            max-width: 90%;
        }
    }
}

@media screen and (min-width: 1024px) {
    nav {
        #logo {
            width: 20%;
        }

        #burger-menu {
            width: 4%;
        }
    }

    .hero-container {
        #hero-text {
            #hero-img {
                right: 5%;
                bottom: 2%;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}
